@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700i);
body{
  background: url(../img/fondo.png) fixed;
  font-family: 'Raleway', sans-serif;
}
.formRecuperar{
  padding: 30px;
  background: white;
  margin: 20px;
}
.margenes{
  margin: 50px 0;
}
.finDelJuego{
  display: flex;
}
.finDelJuego a p{
  text-align: center;
  font-size: 16px;
}
.vistaJuego{
  display: flex;
  margin-left: 10%;
  width: 80%;
}
.tiempoJuego{
  width: 30%;
  height: 100px;
  overflow: hidden;
}
.tiempoJuego .titulo{
  border: 3px solid black;
  width: 80px;
  height: 80px;
  background: white;
  color: black;
  padding: 20px 1px ;
  margin-left: 15%;
  text-align: center;
  border-radius: 50%;
}
.btn-juego{
  color: white;
  border: 3px solid #238276;
  box-shadow: 2px 2px 1px #0d4a42;
  background-color: #238276;
  padding: 15px;
  width: 50%;
}
.btn-juego:hover{
  background: white;
  color: black;
}
.pregunta{
  background: #238276;
  color: white;
  font-size: 3em;
padding-top: 70px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  height: 300px;
}


.tiempoJuego img{
  width: 50%;
}
.navbar-juego{
  color: white;
  border-color: #238276;
  background:#238276;
}
.navbar-juego .navbar-collapse ul li a{
  color: white;
}
.navbar-inverse .navbar-toggle{
  border-color: white;
}
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover{
  background-color: #84e6d9;
}

.contenidoPag{
  background: rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 10%;
  margin-bottom: 40px;
  padding: 20px;
  width: 80%;
}

.header{
  background-color: #f1f1f1;
  border-bottom: 5px solid #238276;
  padding-top: 2px;
  padding-right: 0;
  padding-bottom: 0%;
  padding-left: 30px;
  width: 100%;
}
article.contenedor{
  /*background: red;*/
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}
article.contenedor section.login{
  padding: 30px;
  width: 40%;
}
article.contenedor section.slider{
  padding: 30px;
  width: 60%;
}

.contenidoPregunta{
background: rgba(255, 255, 255, 0.53);
border-radius: 20px;
margin-left: 10%;
padding: 20px;
width: 80%;
color: black;
font-size: 16px;
font-family: monospace;
}


.contenidoPag h1{
  text-align: center;
  padding: 10px 0;
}

ul li a{
  color: #ffffff;
}

.opcion{
  display: block;
  width:90%;
  height: 100px;
  float: left;
  color: #fff;
  margin: 20px 40px 0 0 ;
  background: #238276;
  /*box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);*/
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  padding:20px;
  transition: all 0.2s;
  /*cursor: pointer;*/
  border:0;
}
.opcion{
  position: relative;
  display: block;
  width:90%;
  height: 100px;
  float: left;
  margin: 20px 40px 0 25px ;
  background: #238276;
  /*box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);*/
  border-radius: 15px;
  box-sizing: border-box;
  text-decoration: none;
  padding:20px;
  transition: all 0.2s;
  /*cursor: pointer;
  filter:drop-shadow(2px 2px 6px #000);
  -webkit-filter:drop-shadow(2px 2px 6px #000);
  -moz-filter:drop-shadow(2px 2px 6px #000);
  -o-filter:drop-shadow(2px 2px 6px #000);*/
}
.gameC{
  width:1200px;
  height: auto;
  margin: 20px auto;
}
.gameSelect{
  width:800px;
  height: 700px;
  float: left;
}
/*.opcion:before {
   width: 0;
   height: 0;
   content: "";
   position: absolute;
   top: 0;
   left: 306px;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent;
   border-left: 25px solid #238276;
  }
  .opcion:after {
   width: 0;
   height: 0;
   content: "";
   position: absolute;
   bottom: 0;
   left: -25px;
   border-top: 50px solid transparent;
   border-bottom: 50px solid transparent;
   border-right: 25px solid #238276;

}*/
.opcion:hover{
  filter:hue-rotate(40deg);
  -webkit-filter:hue-rotate(40deg);
  -moz-filter:hue-rotate(40deg);
  -o-filter:hue-rotate(40deg);
}
.opcion p{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
}
.fancybox-custom .fancybox-skin {
  box-shadow: 0 0 50px #222;
}
.answere{
  width: 750px;
  box-sizing: border-box;
  height: 375px;
  background: #238276;
  margin-top: 10%;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 25px 50px;
  border-radius: 5px;
  color: #fff;
}
.answere h1{
  font-size: 45px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
  text-align:center;
  margin-top:140px;
  color: #fff;
}
.answere p{
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
}
/*Responsive desing for tablet*/
@media screen and (max-width:1086px) {

}
@media screen and (max-width:900px) {

}
@media screen and (max-width:800px) {
  article.contenedor{
    display: block;
  }
  article.contenedor section.login{
    margin: 0;
    width: 100%;
  }
  article.contenedor section.slider{
    display: none;
  }
}
/*Responsive desing for phone*/
@media screen and (max-width:550px){

}
